/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #F9F9F5;
  font: 15px '宋体';
  /**font-size: small;*/
  text-align: left;
  color: #28323C;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
  margin-left: 5px;
  font-weight: 600;
  color: #2C3E50;
}

h1 {
  font-size: 28px;
  margin-top: 30px;
}

h2 {
  font-size: 24px;
  margin: 30px 0 20px 5px;
}

h3 {
  font-size: 18px; 
  font-style: italic;
  margin: 25px 0 15px 5px;
}

h4 {
  font-style: italic;
  font-size: 16px;
  margin: 25px 0 15px 5px;
}

p {
  margin: 15px 5px 15px 5px;
  
}

blockquote p {
  margin: 0px 5px 0px 10px;
}

a {
  color: #28323C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*a:visited {
  color: #a0a;
}*/

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 25px;
  margin-left: 5px;
  font-size: 13px;
  padding: 5px 5px 5px 5px;
  /*background-color: rgba(102, 128, 153, 0.1);*/
  border-radius: 4px;
}

ul.index_posts {
  list-style-type: none;
  margin-bottom: 25px;
  margin-left: 5px;
  font-size: 14px;
}

ul.posts li {
  line-height: 27px;
}

ul.posts span {
  color: #aaa;
  font-family: 'Adobe Hebrew', Courier,'Microsoft Yahei', sans-serif;
  font-size: 11px;
}

ul.index_posts span {
  color: #aaa;
  font-family: 'Adobe Hebrew', Courier,'Microsoft Yahei', sans-serif;
  font-size: 13px;
}


  
ol, ul {
  margin-left: 40px;
}  

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 15px;
  text-align: left;
  width: 880px;
  margin: 14px auto 0 auto;
  line-height: 27px;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 5px;
  font-family: 'Microsoft Yahei';
}

.site .title a {
  color: #a00;
  text-decoration: none;
}

.site .title a:hover {
  color: #a00;
}

.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

.site .title a.extra:hover {
 color: #a00;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 13px;
  /*color: #666;*/
  /*border-top: 4px solid #eee;*/
  /*margin-top: 2em;*/
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  color: #aaa;
  margin-right: 3em;
  font-size: 12px;
  padding-left: 5px;
}

.site .footer .contact a {
  color: #aaa;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post { }

  /* standard */
  
#post strong {
  /*font-size:14px;*/
  font-weight:700;
  /*color: darkblue;*/
}

#post pre {
  /* border-left: 10px solid rgba(102, 128, 153, 1); */
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  background-color:rgba(102, 128, 153, 0.0470588);
  padding: 5px 5px 5px 10px;
  line-height: 20px;
  font-family: Courier, 'Microsoft Yahei', sans-serif;
  word-wrap: break-word;  
}


#post code {
  border: 1px solid #ddd;
  /*background-color: #f2f2f2;*/
  padding: 5px 5px 3px 6px;
  font-family: 'Courier', 'Microsoft Yahei',  sans-serif;
  border-radius: 3px;
  font-weight: 600;
  margin-left: 5px;
  margin-right: 5px;
}

#post pre code {
  border: none;
  padding: 0;
  font-size: 13px;
  font-family: "Consolas", "Courier";
  letter-spacing: 0px;
  /*background-color: #f2f2f2;*/
  font-weight: 600;
  margin-left: 0px;
  margin-right: 0px;
}

/* terminal */
#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: #5fba3d;
  font-family: monospace, prestige;
}

#post pre.terminal code {
  background-color: #333;
}


#post pre table {
  width: 100%;
}

#post figure pre {
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  background-color:rgba(102, 128, 153, 0.0470588);
  line-height: 20px;
  font-family: Courier, 'Microsoft Yahei', sans-serif;
  word-wrap: break-word;  
}

#post figure tbody pre {
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  background-color:rgba(102, 128, 153, 0.0470588);
  line-height: 20px;
  font-family: Courier, 'Microsoft Yahei', sans-serif;
  word-wrap: break-word;  
}

#post figure tbody pre td {
  border: 0px;
  
}

.gutter .gl {
  padding: 0px;
}

.lineno {
  margin: 0px;
  padding-left: 3px;
}

#related {
  margin-top: 2em;
}

/*#related h2 {
  margin-bottom: 1em;
}*/

#post img.indent {
  padding-left: 20px;
  border-left:12px solid #ddd;
}

#post blockquote {
  font-size: 13px;
  line-height: 25px;
  margin: 10px 5px 10px 5px;
  padding: 10px 0 5px 0;
  border-left: 10px solid rgba(102, 128, 153, 1);
  /* border: 1px dashed rgba(102, 128, 153, 0.6); */
  border-radius: 5px;
  background-color: rgba(102, 128, 153, 0.0470588);
  /* font-family: 'Adobe Hebrew', "Courier", 'Microsoft Yahei', sans-serif; */
}

.post-info {
  margin: 30px 5px 10px 5px;
  font-size: 15px;
  /*font-weight: bold;*/

}

strike, linethru {text-decoration:line-through;} 

#post #tbl table { width:100%; margin-bottom:2em; }
#post #tbl table td { padding:0.5em; }
#post #tbl table thead { background-color:#262626; color:#fff; font-weight:bold; }
#post #tbl table thead a { text-decoration:none; color:#fff; }
#post #tbl table thead a:hover { text-decoration:underline; }
#post #tbl table tbody a { text-decoration:underline; }
#post #tbl.zebra tbody tr:nth-child(even) {background: #eee}
#post #tbl.zebra tbody tr:nth-child(odd) {background: #fff}
#post #tbl.ul tbody tr {border-bottom:1px solid #ccc;}
#post #tbl.borders tbody tr {border-left:1px solid #ccc; border-bottom:1px solid #ccc;}
#post #tbl.borders tbody td {border-right:1px solid #ccc;}

#post em {font-style:italic;}

hr {
  border: 0;
  border-bottom: 1px dashed #cfcfcf;
  margin: 30px 5px 20px 5px;
}

.gist {
  font-size: 13px;
  }

table { 
    padding: 0; 
    border-collapse:collapse;
    border-spacing:0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-size: 13px;
} 

th { 
    font: bold 11px ; 

    border-right: 1px solid #aaaaaa; 
    border-bottom: 1px solid #aaaaaa; 
    border-top: 1px solid #aaaaaa; 
    border-left: 1px solid #aaaaaa; 
    letter-spacing: 2px; 
    padding: 8px 12px 3px 12px; 
    background: #eeeeee url(images/bg_header.jpg) no-repeat; 
} 

td { 
    border-right: 1px solid #aaaaaa; 
    border-bottom: 1px solid #aaaaaa; 
    background: #fff; 
    padding: 8px 12px 3px 12px; 
    border-left: 1px solid #aaaaaa; 
} 

img {
  box-shadow: 0 0 1px #9797A6;
  -moz-box-shadow: 0 0 2px #9797A6;
  border: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.lineno {
    margin-right: 10px;
    color: #aaa;
}