<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Rolandz"/>
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" />
   <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?5135ae373dbd3520d3f5fbc309974aa9";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>
<body>
<div style="height:60px; width:100%;background-color:#333;block">
  <div class="site" style="margin-top:0px">
    <div class="title" style="padding-top:16px; font-size:17px;color: rgb(187, 187, 187);">
      Rolandz
      <a class="extra" href="/">home</a>
    </div>
  </div>
</div>
<div class="site">
  <!--<div class="title">
    <a href="/">内部文档</a>
    <a class="extra" href="/">home</a>
  </div>
  -->
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
            © Since 2014 | <a href="http://log.zvz.im/" target="_blank">ZVZ's 日志</a>
      </p>
    </div>
  </div>
</div>

</body>
</html>
