---
layout: default
---
<span>{{ post.last_modified_at | date: "%F" }}</span> 
<div id="post">
{{ content }}
</div>
<span>{{ post.last_modified_at | date: "%F" }}</span> 
<div class="post-info">本文链接 &raquo; <a id="permalink" href="{{ page.url }}">{{ page.title }}</a></div>
<hr />
<div id="related">
  <h2>相关文章</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
      <li style="list-style:none;">
        <span>{{ post.date | date: "%F" }}</span> 
        <span style='color:#f99157'> &raquo; </span> 
        <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>


